.img {
  margin: 0px 30px;
  max-height: 200px;
}
.img_wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.navbar__text {
  margin-top: 80px;
  text-align: center;
}
.navbar__main {
  display: flex;
  margin-top: 20px;
  max-width: 1300px;
  justify-content: center;
}
.navbar {
  display: flex;
  gap: 200px;
  font-size: 26px;
  list-style-type: none;
}
.navbar li {
  position: relative;
  padding-left: 20px;
}
.navbar li::before {
  content: "•";
  position: absolute;
  left: 0;
  font-size: 1.2em;
}
.navbar .li_1::before {
  color: orange;
}
.navbar .li_2::before {
  color: yellow;
}
.navbar .li_3::before {
  color: purple;
}
.navbar .li_4::before {
  color: red;
}
.li_4 {
  margin-bottom: 50px;
}
.link {
  text-decoration: none;
}
@media (max-width: 1200px) {
  .navbar {
    display: flex;
    gap: 20px;
    font-size: 26px;
    list-style-type: none;
  }
}
@media (max-width: 650px) {
  .img_wrapper {
    flex-direction: column;
  }
  .navbar__text {
    margin-top: 10px;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
  }
}
