.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  margin: 40px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.img {
  max-width: 500px;
  max-height: 726px;
  min-height: 726px;
  transition: transform 0.2s ease-in-out;
}
.img:hover {
  transform: scale(1.02);
}
.text {
  max-width: 400px;
  display: flex;
  margin-left: 20px;
  background-color: #232529;
  max-height: 726px;
  align-items: center;
  padding: 20px 15px;
  font-size: 26px;
  border-radius: 30px;
}
.span {
  font-size: 26px;
  background-color: #232529;
}
@media (max-width: 880px) {
  .img {
    min-height: 600px;
    height: 200px;
    transition: transform 0.2s ease-in-out;
  }
  .wrapper {
    flex-direction: column;
    margin: 20px 5px;
  }
  .text {
    max-width: 100%;
    max-height: 100%;
    padding: 5px 5px;
    font-size: 22px;
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .img {
    min-height: 400px;
    transition: transform 0.2s ease-in-out;
  }
}
/* @media (max-width: 880px) {
  .wrapper {
    margin: 10px;
  }
  .text {
    max-width: 400px;
    margin-left: 10px;
    padding: 20px 5px;
    font-size: 22px;
  }
  .span {
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .img {
    min-width: 100px;
    max-width: 100%;
    transition: transform 0.2s ease-in-out;
  }
  .text {
    max-width: 300px;
    max-height: 500px;
  }
}
@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }
  .text {
    padding: auto;
    margin: 30px 10px;
    max-width: 100%;
    max-height: 100px;
    min-height: 20px;
  }
} */
