.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  background-color: var(--back-color);
}

.button {
  margin-top: 40px;
  padding: 30px 50px;
  background-color: #232529;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 500;
  border: 3px solid #1d1f22;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--back-help-color);
  color: var(--color);
}

.text {
  margin-top: 50px;
  max-width: 1000px;
  font-size: 26px;
  text-align: center;
  background-color: var(--back-help-color);
  color: var(--color);
  padding: 10px 20px;
  border-radius: 20px;
}
.img {
  max-height: 726px;
  min-height: 400px;
}
@media (max-width: 730px) {
  .img {
    max-height: 100%;
    margin-top: 20px;
  }
  .text {
    margin-top: 20px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .img {
    max-height: 500px;
    min-height: 200px;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
}
