.main {
  display: flex;
  justify-content: center;
  margin: 50px 15px;
}
.text {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #232529;
  border-radius: 30px;
  max-width: 400px;
  font-size: 26px;
  margin-right: 10px;
}
.img {
  border-radius: 20px;
}
